body {
  background-color: #f5f5f5;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #333;
  margin: 0;
  padding: 0;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
}
